@font-face {
  font-family: 'fontello';
  src: url('./font/fontello.eot?84559348');
  src: url('./font/fontello.eot?84559348#iefix') format('embedded-opentype'),
       url('./font/fontello.woff?84559348') format('woff'),
       url('./font/fontello.ttf?84559348') format('truetype'),
       url('./font/fontello.svg?84559348#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

 [class^="icon-"]:before,
 [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
}
.devsalesicon-cog:before { content: '\9881'; } /* '颁' */
.devsalesicon-ccw:before { content: '\f025'; } /* '' */
.devsalesicon-rocket:before { content: '🚀'; } /* '\1f680' */
.devsalesicon-users:before { content: '👥'; } /* '\1f465' */
.devsalesicon-chart-area:before { content: '🔾'; } /* '\1f53e' */
.devsalesicon-down-micro:before { content: '\e7a7'; } /* '' */
.devsalesicon-up-micro:before { content: '\e7a8'; } /* '' */

/* WP */

#wpcontent {
    margin-left: 145px;
}
#wpbody {
    position: static;
}
#wpbody-content {
    float: none;
    padding-bottom: 0;
}
#wpfooter {
    display: none;
}


#adminmenuback {
    z-index: 0;
}


/* Option Page */
.devsales-wrap {
    color:white;
    font: 14px Helvetica
}

a:active {
  outline:none;
}

.devsales-pad {
    position: relative;
}

/**
 * MAIN COLUMN
 */
.devsales-main {
    float:left;
    width:80%;
}
    .devsales-main .greeting {
        display: block;
        width: 70%;
        padding: 50px;
        font-size: 2em;
        margin:0 auto 1em;
        text-align: center;
    }
    .devsales-main .greeting .smaller {
        display: block;
        font-size: 0.85em;
    }

    .devsales-main .big-greeting {
        display: block;
        font-size: 40pt;
        text-align: center;
        text-shadow: 0 2px 0 rgba(128, 128, 128, 0.56);
    }

  /**
   * RIGHT SIDEBAR
   */
  .devsales-sb-right {
      float: left;
      width: 20%;
  }

  .devsales-sb-right {
      position: absolute;
      right:0;
      top:0;
      bottom:0;
      width: 20%;
      background:rgba(255,255,255,0.1);
      border-left:1px solid rgba(255,255,255,0.25);
      box-shadow: -5px 0 5px -5px rgba(0,0,0,0.2);
  }
  .devsales-sb-unit-pad {
      padding:12px;
      -webkit-box-sizing:border-box;
      -moz-box-sizing: border-box;
      box-sizing:border-box;
  }
  .devsales-sb-unit-pad h3 {
      padding-bottom:10px;
      border-bottom:1px solid rgba(255,255,255,0.25);
  }
  .devsales-sb-unit-integer {
      float:right;
  }

  .devsales-list-sales li {
      color:rgba(255,255,255,.7);
      text-shadow:1px 1px 1px rgba(0,0,0,0.15);
      padding: 2px;
      margin: 2px 0;
  }

  .devsales-sb-ticker li:nth-child(even),
  .devsales-list-sales li:nth-child(even) {
      background:rgba(255,255,255,.05);
  }

  .devsales-sb-content-nav {
      text-align: left;
      height: 26px;
      width: 100%;
      border-bottom:1px solid rgba(255,255,255,0.5);
      padding-bottom:8px;
  }

  .devsales-sb-content-nav a{
    padding: 5px 6px;
    width: 50%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color: rgba(255,255,255,0.8);
    float: left;
    font-size: 0.85em;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.08em;
  }
  .devsales-sb-content-nav a:active {
      outline:none;
  }

  .devsales-sb-content-nav a.active {
      color:white;
      background:rgba(0,119,204,0.6);
  }

  /* Ticker */
  #devsales-sb-ticker-content {
    display: none;
  }

  .devsales-sb-ticker li{
      color:rgba(255,255,255,.7);
      text-shadow:1px 1px 1px rgba(0,0,0,0.15);
      padding: 3px 2px;
      margin: 6px 0;
      clear:left;
      height:30px;
  }

  .sb-ticker-thumb {
    width: 40px;
    height: auto;
    float: left;
    margin-right: 7px;
    border: 1px solid rgba(255,255,255,0.5);
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
  }

  .sb-ticker-product,
  .sb-ticker-time {
    text-transform: uppercase;
    font-size:0.8em;
    display: block;
    letter-spacing:0.05em;
  }

  .sb-ticker-time {
    margin-top:2px;
    color:rgba(255,255,255,0.4);
  }

 .devsales-main .ds-dollar-sign {
    font-size: 0.6em;
    vertical-align: top;
    margin: 3px 2px 0 0;
    display: inline-block;

  }

  .devsales-sb-totals{
    width: 100%;
    left: 0;
    text-align: right;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    color:rgba(255,255,255,.7);
    text-shadow:1px 1px 1px rgba(0,0,0,0.15);
    border-top:1px solid rgba(255,255,255,0.5);

  }
  .devsales-sb-total-integer {
    margin-left:10px;
  }


/* Center */
.devsales-center-unit {
    width: 600px;
    min-height: 200px;
    margin: 2em auto;
    position: relative;
}
.devsales-center-unit-pad {

}
.devsales-center-unit span {
    display: block;
}

.devsales-center-left {
    float:left;
    width:30%;
    margin-top:15px;
    text-align: right;
    padding-right:40px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .devsales-center-left:before {
        content:'';
        position: absolute;
        width:7px;
        height:7px;
        background: rgba(255,255,255,0.25);
        border-radius:50em;
        top:79px;
        left:13px;
    }
.devsales-center-right {
    float:left;
    width:30%;
    text-align: left;
    margin-top:15px;
    padding-left:40px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}
    .devsales-center-right:before {
        content:'';
        position: absolute;
        width:7px;
        height:7px;
        background: rgba(255,255,255,0.25);
        border-radius:50em;
        top:79px;
        right:13px;
    }

.devsales-center-center {
    float:left;
    width:40%;
    text-align: center;

}
.devsales-center-circle {
    background:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.25);
    box-shadow: 0 0 5px -3px rgba(0,0,0,0.2);
    border-radius:50em;
    width:160px;
    height:160px;
    margin:0 auto;
}
    .devsales-center-circle:before {
        content:'';
        position: absolute;
        width:200px;
        height:2px;
        border-bottom:1px solid rgba(255,255,255,0.25);
        margin-left:-280px;
        top:80px;
    }
    .devsales-center-circle:after {
        content:'';
        position: absolute;
        width:200px;
        height:2px;
        border-bottom:1px solid rgba(255,255,255,0.25);
        margin-left:80px;
        top:80px;
    }

.devsales-center-total {
    font-size: 48px;
    margin-top:45px;
    font-weight: bold;
}
.devsales-center-total-text {
    text-transform: uppercase;
}
.devsales-center-label {
    font-weight: normal;
    text-transform: uppercase;
}
.devsales-center-integer {
    font-weight: bold;
    margin-top:7px;
    font-size:24px;
    letter-spacing:0.08em;
}
    .devsales-center-integer span {
        display: inline-block;
    }

.devsales-center-label.set-two{
    margin-top: 40px;
}

.devsales-credits {
  float: left;
  margin: 3em auto;
  width: 80%;
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
}
  .devsales-credits p {
    margin: 1em auto;
    width: 60%;
  }
  .devsales-credits a {
    color: rgba(95, 188, 255, 0.75);
    text-decoration: none;
  }
  .devsales-credits a:hover {
    text-decoration: underline;
  }


.devsalesicon-up-micro,
.devsalesicon-down-micro {
  font-family:'fontello';
  font-weight: normal;
  font-style: normal;
  text-decoration: inherit;
  -webkit-font-smoothing: antialiased;
  display: inline;
  width: auto;
  height: auto;
  line-height: normal;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
  margin-top: 0;
}

.mtd-comp .symbol {
  color: rgba(255, 255, 255, 0.75);
}

.positive-comp {
    text-shadow: 0 0 20px #97FF8C;
}
/*  .positive-comp .symbol i {
      color:rgba(151,255,140,0.4);
  }*/

.negative-comp {
    text-shadow: 0 0 20px #FF4700;
}
/*  .negative-comp .symbol i {
      color:rgba(255,71,0,0.4);
  }*/


/* Settings Tabs */
.devsales-settings-content-nav {
  height: 36px;
  width: 100%;
  border-bottom: 1px solid #000;
  box-shadow:0 1px 1px rgba(255,255,255,0.1);
  margin-bottom: 10px;
  padding-bottom: 10px;
}
    .devsales-settings-content-nav a {
        padding:10px 15px;
        text-transform: uppercase;
        text-decoration: none;
        color:rgba(255,255,255,0.9);
        display: inline-block;
    }
    .devsales-sb-content-nav a:active,
    .devsales-settings-content-nav a:active {
        outline:none;
    }

  .devales-sb-content-inner,
  .devsales-settings-content-inner {
      clear:right;
      color:rgba(255,255,255,0.85);
      text-shadow: 1px 1px rgba(0,0,0,0.8);
      margin-top:30px;
  }

  .devsales-info-tab-inner {
    padding:0 20px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.08em;
    max-height: 400px;
    overflow: auto;
  }
  .devsales-tab-bold {
    font-weight: bold;
    color:rgba(255,255,255,0.95);
  }
  .devsales-tab-list {
    padding-left:10px;
  }
  .devsales-tab-list li {
    margin-bottom:3px;
  }
  .devsales-tab-list li:nth-child(even) {
    margin-bottom:3px;
    background:#323232;
  }
  .devsales-info-tab-inner p:first-child {
    margin-top:0;
  }

  .zmt {
    margin-top:0;
  }
  .fivemb {
    margin-bottom:5px;
  }

  .devsales-button {
    display: inline-block;
    *display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    *background-color: #e6e6e6;
    background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #cccccc;
    *border: 0;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #b3b3b3;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    *zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
       -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
            box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  }

  .devsales-button:hover {
    background: #e6e6e6;
    *background: #d9d9d9;
  }
  .devsales-button:active {
    background: #cccccc;
  }

/* Settings Panel */
.devsales-settings {
    padding: 15px;
    width: 100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
    .devsales-settings a {
        display: block;
        font-size:1.2em;
        color:rgba(255,255,255,0.85);
        text-decoration: none;
        margin-bottom:5px;
        width:20px;
        position: absolute;
    }
    .devsales-settings a:hover {
        cursor:pointer;
    }

  .devsales-settings-content-nav a.active{
      color:white;
      background:rgba(0,119,204,0.75);
      border-radius:4px;
      box-shadow:0 1px 1px rgba(255,255,255,0.1);
  }


  .devsales-open-settings:before {
      content: '\9881';
      font-family: 'fontello';
  }

  .devsales-refresh-api {
    position: absolute;
    right:21%;
    margin-right:0;
    top:15px;
  }

  .devsales-open-settings,
  .devsales-open-launchpad {
    margin-right: 8px;
  }

  .devsales-refresh-api:before {
      content: '\f025';
      font-family: 'fontello';
  }

  .devsales-open-launchpad {
    top:47px;
  }
  .devsales-open-launchpad:before {
      content: '\1f680';
      font-family: 'fontello';
  }

  .devsales-open-forum {
    top:79px;
  }
  .devsales-open-forum:before {
    content:'\1f465';
    font-family: 'fontello';
  }
  .devsales-single-stats {
    top:111px;
  }
  .devsales-single-stats:before {
    content:'\1f53e';
    font-family: 'fontello';
  }


  .devsales-bg-option{
    display: block;
    margin-top: 19px;
  }

  /* Settings Modal */
  #devsales-settings-modal-backdrop {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1040;
      background-color: rgba(255,255,255,0.8);
  }
  #devsales-settings-modal,
  #devsales-launchpad-modal,
  #devsales-forum-modal {
      display: none;
      position: fixed;
      top: 20%;
      left: 50%;
      z-index: 1050;
      width: 560px;
      min-height: 280px;
      margin-left: -280px;
      padding:10px;
      box-sizing:border-box;
      background: #262626 url('img/modal-bg.png');
      border: 1px solid #999;
      border: 1px solid rgba(0, 0, 0, 0.3);
      -webkit-border-radius: 6px;
      -moz-border-radius: 6px;
      border-radius: 6px;
      outline: none;
      -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
}

  #devsales-launchpad-modal.launchpad-modal,
  #devsales-forum-modal.forum-modal {
      width:1060px;
      margin-left: -530px;
  }
  #devsales-launchpad-modal .devsales-settings-content-inner,
  #devsales-forum-modal .devsales-settings-content-inner {
    margin-top:0;
  }


/* Graph */
.devsales-graph-unit {
    margin: 2em auto;
    width: 85%;
    min-height:400px;
    max-width:800px;
    background:rgba(255,255,255,0.1);
    border:1px solid rgba(255,255,255,0.25);
    box-shadow: 0 0 5px -3px rgba(0,0,0,0.2);
    -webkit-transition:all .2s linear;
    -moz-transition:all .2s linear;
    transition: all .2s linear;
}

/* Forms */

/* IT STARTS HERE
form {
  margin: 0 0 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}
*/
label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}


select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 38px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}



input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  *margin-top: 4px;
  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}
/*<!--- end of --->*/


select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}


.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

.controls-row {
  *zoom: 1;
}

.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.controls-row:after {
  clear: both;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}


.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}

.help-block,
.help-inline {
  color: #595959;
}


.help-block {
  display: block;
  margin-bottom: 10px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.input-append,
.input-prepend {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 0;
  white-space: nowrap;
  vertical-align: middle;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu,
.input-append .popover,
.input-prepend .popover {
  font-size: 14px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}



.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 139px;
  padding-top: 9px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 160px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}


/* Tooltips*/

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.4;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible;
}

.tooltip.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}

.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}

.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}

.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}

.tooltip-inner {
  max-width: 200px;
  padding: 8px;
  color: #222;
  text-align: center;
  text-decoration: none;
  background-color: rgba(255,255,255,0.85);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-top-color: rgba(255,255,255,0.85);
  border-width: 5px 5px 0;
}

.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-right-color: rgba(255,255,255,0.85);
  border-width: 5px 5px 5px 0;
}

.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-left-color: rgba(255,255,255,0.85);
  border-width: 5px 0 5px 5px;
}

.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-bottom-color: rgba(255,255,255,0.85);
  border-width: 0 5px 5px;
}

@media screen and (max-width:1250px) {

  .devsales-main .greeting {
    padding: 25px;
    font-size: 1.8em;
  }

 .devsales-sb-right {
      /*left:0;
      right:0;
      top:auto;
      bottom:0;*/
      width:90%;
      max-height:232px;
      overflow: auto;
      margin:0 auto;
      border-left:none;
      float: none;
      display: block;
      position: static;
  }
  /*.devsales-sb-unit-pad  {
    height:232px;
  }*/
  /*.devsales-sb-right li {
      width:20%;
      margin-right:5%;
     float:left;
     margin:0 auto;
  }*/
  .devsales-center-unit-wrap {
    top:260px !important; /* overtaking js */
    left:18% !important ;
  }
  .devsales-graph-unit-wrap {
    max-width: 97%;
    left: 10px !important;
  }
  .devsales-main {
    width:100%;
    float:none;
    margin-bottom:30px;
  }
  .devsales-refresh-api {
    right:15px;
    margin-right:0;
  }
  .devsales-sb-totals {
    border-top:none;
  }
  .devsales-graph-unit {
    max-width:100%;
    width:90%;
    margin:0 auto;
  }
  .devsales-credits {
    float:none;
  }
  .devsales-credits p {
    width:100%;
  }

}

/* Utility */
.block { display: block; }

@media screen and (max-width:900px) {
    .devsales-center-unit-wrap {
        left:12% !important ;
    }
}

@media screen and (max-width:720px) {
    .devsales-center-unit-wrap {
        left:5% !important ;
    }
}